//
// Defaults.
//

$black:                     #000000;
$white:                     #ffffff;

//
// Red
//

$red:                       #f44336;
$red--dark:                 #d32f2f;
$red--darker:               #b71c1c;

//
// Pink
//

$pink:                      #e91e63;
$pink--dark:                #c2185b;
$pink--darker:              #880e4f;

//
// Purple
//

$purple:                    #9c27b0;
$purple--dark:              #7b1fa2;
$purple--darker:            #4a148c;

//
// Indigo
//

$indigo:                    #3f51b5;
$indigo--dark:              #303f9f;
$indigo--darker:            #1a237e;

//
// Blue
//

$blue:                      #2196f3;
$blue--dark:                #1976d2;
$blue--darker:              #0d47a1;

//
// Cyan
//

$cyan:                      #00bcd4;
$cyan--dark:                #0097a7;
$cyan--darker:              #006064;

//
// Teal
//

$teal:                      #009688;
$teal--dark:                #00796b;
$teal--darker:              #004d40;

//
// Green
//

$green:                     #4caf50;
$green--dark:               #388e3c;
$green--darker:             #1b5e20;

//
// Lime
//

$lime:                      #cddc39;
$lime--dark:                #afb42b;
$lime--darker:              #827717;

//
// Yellow
//

$yellow:                    #ffeb3b;
$yellow--dark:              #fbc02d;
$yellow--darker:            #f57f17;

//
// Amber
//

$amber:                     #ffc107;
$amber--dark:               #ffa000;
$amber--darker:             #ff6f00;

//
// Orange
//

$orange:                    #ff9800;
$orange--dark:              #f57c00;
$orange--darker:            #e65100;
