$light: 100;
$regular: 400;
$bold: 500;

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 1.15;