html {
    line-height: 1.15;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 { font-size: 2em; margin: 0.67em 0; }

figure { margin: 1em 40px; }

pre { font-size: 1em; font-family: monospace, monospace; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

a:active, a:hover { outline-width: 0; }

abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }

b, strong { font-weight: inherit; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-size: 1em; font-family: monospace, monospace; }

dfn { font-style: italic; }

mark { color: $black; background-color: color('yellow'); }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

fieldset { margin: 0 2px; border: 1px solid #c0c0c0; padding: 0.35em 0.625em 0.75em; }

[type="checkbox"], [type="radio"] { padding: 0; box-sizing: border-box; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { outline-offset: -2px; -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { font: inherit; -webkit-appearance: button; }

audio:not([controls]) { display: none; height: 0; }

img { border-style: none; }

svg:not(:root) { overflow: hidden; }

button, input { overflow: visible; }

button, select { text-transform: none; }

progress { display: inline-block; vertical-align: baseline; }

textarea { overflow: auto; }

details, menu { display: block; }

summary { display: list-item; }

canvas, audio, video { display: inline-block; }

template, [hidden] { display: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    padding: 0;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
    box-sizing: border-box;
}