html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: border-box;
}

typewriter {
    display: inline-block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, html a {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body { background-color: #d5dae6; }

body, button, input, optgroup, select, textarea {
    margin: 0;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    font-family: $base-font-family;
}

a, a:visited {
    color: color('blue');
}

button {
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: $weight-bold;
    font-size: $base-font-size;
}

hr {
    height: 0;
    margin: 40px 0;
    overflow: visible;
    box-sizing: content-box;
    border-top: 2px solid #caced1;
}