//
// Pseudo element mixin.
// Sets up the default properties of a pseudo element.
//
// How to use: `@include pseudo(block, absolute, '');`
//

@mixin pseudo($display: block, $position: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $position;
}

//
// Triangle mixin.
// This mixin generates a triangle.
//
// How to use: `@include triangle(#fff, down, 10px, absolute, block);`
//

@mixin triangle($color, $direction, $size: 6px, $position: absolute, $display: block, $round: false) {
    @include pseudo($display, $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

//
// Truncate mixin.
// Truncate a string based on a boundary.
//
// How to use: `@include truncate(100%);`
//

@mixin truncate($boundary) {
    max-width: $boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}